<h3>Details:</h3>

<p>
  <strong>Raw xml:</strong>
  <%= @marvin_callback.raw_xml %>
</p>

<p>
  <strong>Import status:</strong>
  <%= @marvin_callback.import_status %>
</p>

<p>
  <strong>Import status details:</strong>
  <%= @marvin_callback.import_status_details %>
</p>

<p>
  <strong>Guid:</strong>
  <%= @marvin_callback.guid %>
</p>

<p>
  <strong>Orig stamp:</strong>
  <%= Time.at(@marvin_callback.timestamp) %> (<%= @marvin_callback.timestamp %>)
</p>
